<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Ecommerce Test Suite" verbose="1">
    <test name="Login and Checkout Tests">
        <classes>
            <class name="tests.LoginTests"/>
            <class name="tests.CheckOutTests"/>
            <class name="tests.InventoryTests"/>
        </classes>
    </test>
</suite>